h1{font-size:1.7rem;color:#1F2126;font-weight:800;line-height:38px}h2{font-size:1.25rem;color:#1F2126;font-weight:600}h3{font-size:1.1rem;color:#1F2126;font-weight:600}h3.pre_headline{font-size:1rem;text-transform:uppercase;color:#36315A;margin-bottom:.5rem;font-weight:800;letter-spacing:.5px}a,a:hover{text-decoration:none;color:#de6262}.colored{color:#de6262}.nav-link,.nav-item{color:#3A3E47 !important}
