@import 'vars';

.bg-orange {
  background: $red;
}

.bg-purple {
  background: $purple;
}

.bg-red-orange {
  background-image: $red-gradient;
}

.bg-purple-blue {
  background-image: $purple-gradient;
}

%button {
  padding: .25rem 1.25rem;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 11px 5px rgba(80,36,36,0.13);
  box-shadow: 5px 5px 11px 5px rgba(80,36,36,0.13);
}

.btn-border {
  @extend %button;
  border: 1px solid $red;
  color: $red;
  background: transparent;
}

.btn-bg {
  border: none;
  @extend %button;
  background: $red-gradient;
  color: white;
}

.btn-bg-purple {
  border: none;
  @extend %button;
  background: $purple;
  color: white;
}

button:hover {
  transition: .3s;
  transform: translateY(-3px);
}
