@import 'vars';

@import 'elements';
@import 'typography';

@import 'pages';

html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: $text;
  scroll-behavior: smooth;
}

/* header */
header {
  h3.pre_headline {
    color: $red;
  }
  nav {
    .dropdown-menu {
      border: thin solid #efefef;
      .dropdown-item:hover {
        background: #fcfafa;
      }
      .dropdown-item:active {
        background: $pink;
        color: white;
      }
    }
    .navbar-toggler {
      height: 45px;
      width: 45px;
    }
  }
}

header#with_background {
  background: url(../assets/images/headerBackground.svg) no-repeat bottom;
  background-size: cover;
}

header#with_background_subPage {
  background: url(../assets/images/headerBackgroundSubPage.svg) no-repeat bottom;
  background-size: cover;
}

.pre_header {
  background: $pink;
  svg {
    width: 20px;
    height: 20px;
  }
  @media (min-width: 0px) and (max-width: 720px) {
    .mobile_display_none {
      display: none;
    }
  }
}

/* footer */
footer {
  .row {
    a {
      color: $text;
    }
  }
}

/* aside */
aside {
  .aside_header {
    background: $red;
  }
}
