@import 'vars';

main#sub_service_page {
  @media (min-width: 0px) and (max-width: 820px) {
    .col-lg-9 {
      padding-left: 1rem!important;
      margin-top: 1.5rem!important;
    }
  }
}

main#index {
  .services {
    position: relative;
    .services_background {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      background-image: $red-gradient;
      right: 10%;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
    svg {
      width: 35px;
      height: 35px;
    }
    .pre_headline {
      color: $red;
    }
    .service_wrapper_icon {
      background: $red;
      width: 60px;
      height: 60px;
      svg {
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
  .work {
    .work_item {
      @media (min-width: 0px) and (max-width: 720px) {
        .text {
          order: 1;
          margin-top: 1rem;
        }
      }
    }
  }
  .contact {
    .col-lg-6 {
      margin-top: -75px;
      margin-right: 50px;
    }
    @media (min-width: 0px) and (max-width: 720px) {
      img {
        display: none;
      }
      .bg-red-orange {
        padding: 1.5rem!important;
        h2 {
          font-weight: 500;
          line-height: 30px!important;
          width: 100%!important;
          font-size: 1rem;
        }
      }
      .shadow-sm {
        padding: 1rem!important;
        padding-bottom: 1.5rem!important;
      }
      .col-lg-6 {
        margin-top: 0px;
        margin-right: 0px;
      }
    }
  }
}
