@import 'vars';

h1 {
  font-size: 1.7rem;
  color: $black;
  font-weight: 800;
  line-height: 38px;
}
h2 {
  font-size: 1.25rem;
  color: $black;
  font-weight: 600;
}
h3 {
  font-size: 1.1rem;
  color: $black;
  font-weight: 600;
}
h3.pre_headline {
  font-size: 1rem;
  text-transform: uppercase;
  color: $purple;
  margin-bottom: .5rem;
  font-weight: 800;
  letter-spacing: .5px;
}
a, a:hover {
  text-decoration: none;
  color: $red;
}
.colored {
  color: $red;
}
.nav-link, .nav-item {
  color: $text!important;
}
