$pink: #E54F6D;
$black: #1F2126;
$text: #3A3E47;

$light-orange: #FFF3EC;
$light-red: #faebeb;

$red: #de6262;
$purple: #36315A;

$red-gradient: linear-gradient(to right, #de6262, #ffb88c);
$purple-gradient: linear-gradient(to right, $purple, #A73EA1);
$purple-gradient-2: linear-gradient(to right, $purple, #733ea7);
